.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 48px 32px;
}

.footer .logo {
  font-family: "Big Shoulders Display", cursive;
  font-size: 19px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 38px;
}

.footer .logo :first-child {
  display: block;
  margin-bottom: -4.5px;
}

.footer p.body-xs {
  margin-bottom: 38px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.social-media img {
  width: 20px;
  height: 20px;
}
